# Datasets
chest_xray/
chest_xray*
*.zip
*.tar.gz

# Notebooks & checkpoints
*.ipynb
.ipynb_checkpoints/

# Duplicate/redundant model checkpoints
model/EfficientNetB0_best.keras

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# IDE files
.vscode/
.idea/

# Logs
*.log
